.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.nav-item {
    padding-bottom: 8px;
    cursor: pointer;
}

.active {
    border-bottom: solid #3A3F47;
    border-bottom-width: 5px;
}

.nav-item:hover {
    border-bottom: solid #3A3F47;
    border-bottom-width: 5px;
}

.tab-content {
    position: fixed;
    overflow: auto;
    max-height: 260px;
    /* Limit the maximum height of the tab content area */
}

.movie-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* Grid with minimum item width of 100px */
    gap: 10px;
    /* Gap between grid items */
}

@media only screen and (max-width: 450px) {
    .tab-content{
        height: 200px;
    }
}

.movie-photos img {
    width: 100%;
    /* Ensure images take up the full width of their grid cell */
    height: auto;
    /* Allow the height to adjust according to the aspect ratio of the images */
    border-radius: 15px;
}
