.img-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 400px;
    max-height: 30vh;
    min-height: 45%;
    display: flex;
    flex-direction: column;    
}

.tab-content {
    position: inherit;
    flex: 1;
    height: auto;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 0 10px;
    /* Add padding to the content */
}

.movie-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Responsive grid */
    gap: 10px;
    margin-bottom: 100px;
}

.movie-photos img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    border-bottom: solid #3A3F47;
    border-bottom-width: 5px;
}

@media only screen and (min-height: 800px) {
    .img-container {
        /* background-color: antiquewhite; */
        height: 46vh;
        bottom: 0;
        max-height: auto;

    }
}

@media only screen and (max-width: 330px) {
    .navbar {
            /* background-color: antiquewhite; */
        font-size: 70%;
    }
}