<div class="slider-wrapper">
    <div class="slider-item">
        <span>
            <h1>1</h1>
        </span>
        ITEM 01
    </div>
    <div class="slider-item">
        <span>
            <h1>2</h1>
        </span>
        ITEM 02
    </div>
    <div class="slider-item">
        <span>
            <h1>3</h1>
        </span>
        ITEM 03
    </div>
    <div class="slider-item">
        <span>
            <h1>4</h1>
        </span>
        ITEM 04
    </div>
    <div class="slider-item">
        <span>
            <h1>5</h1>
        </span>
        ITEM 05
    </div>
</div>