<!-- <div class="slider-wrapper">
    <div class="slider-item">
        <span>
            <h1>1</h1>
        </span>
        ITEM 01
    </div>
    <div class="slider-item">
        <span>
            <h1>2</h1>
        </span>
        ITEM 02
    </div>
    <div class="slider-item">
        <span>
            <h1>3</h1>
        </span>
        ITEM 03
    </div>
    <div class="slider-item">
        <span>
            <h1>4</h1>
        </span>
        ITEM 04
    </div>
    <div class="slider-item">
        <span>
            <h1>5</h1>
        </span>
        ITEM 05
    </div>
</div> -->

<!-- <div class="slider-container" #slider (mousedown)="onDragStart($event)" (touchstart)="onDragStart($event)">
    <div class="slider-track" #track>
        <div class="slider-item" *ngFor="let slide of sliderPhotos; let i = index">
            <img [src]="slide.imageUrl" alt="Slide">
            <div class="slide-label">{{ i + 1 }}</div>
        </div>
    </div>
</div> -->

<div class="slider-wrapper">
    <div class="slider-item" *ngFor="let slide of sliderPhotos; let i = index">
        <span>
            <h1>{{ i + 1 }}</h1>
        </span>
        <img [src]="slide.url" alt="Slide">
    </div>
</div>


