<div class="container">
    <div class="header">
        <i class="fas fa-chevron-left" routerLink="/home"></i>
        <h3>Detail</h3>
        <i [class.fa-regular]="!solid" [class.fa-solid]="solid" class="fa-bookmark" (click)="toggleSolid()"></i>
    </div>

    <div class="movie-detail">
        <div class="poster">
            <img src="../../../assets/images/poster.png" alt="Movie Poster">
            <i class="fa-regular fa-star" (click)="toggleRating()"><span> 9.5</span></i>
        </div>
        <div class="movie-photo">
            <img src="../../../assets/images/Rectangle 4.png" alt="Small Image" alt="Movie Photo">
        </div>
        <div class="details">
            <h2>Movie Name</h2>
        </div>

        <div class="movie-span">
            <i class="fa-regular fa-calendar"></i>
            <p>2021</p>
            <br>
            <p>|</p>
            <br>
            <i class="fa-regular fa-clock"></i>
            <p>148 Minutes</p>
            <br>
            <p>|</p>
            <br>
            <i class="fa-solid fa-ticket-simple"></i>
            <p>Action</p>
        </div>
    </div>

    <div class="tab-container">
        <div class="navbar">
            <div class="nav-item active" (click)="onNavItemClicked('aboutMovie')"
                [ngClass]="{ 'active': activeTab === 'aboutMovie'}">
                About Movie
            </div>
            <div class="nav-item" (click)="onNavItemClicked('reviews')"
                [ngClass]="{ 'active': activeTab === 'reviews'}">
                Reviews
            </div>
            <div class="nav-item" (click)="onNavItemClicked('cast')" [ngClass]="{ 'active': activeTab === 'cast'}">
                Cast
            </div>
        </div>
        <div class="about-container" *ngIf="activeTab === 'aboutMovie'">
            <p>{{ contentToShow| truncateText: 150 }}</p>
            <button *ngIf="showReadMoreButton" (click)="toggleContent()">
                Read {{ showFullText ? 'less' : 'more' }} <i [class.fa-chevron-down]="!showFullText"
                    [class.fa-chevron-up]="showFullText" class="fa-solid"></i>
            </button>
        </div>

        <div class="reviews-container" *ngIf="activeTab === 'reviews'">

            <div class="card">
                <div class="user-photo">
                    <img src="../../../assets/images/Ellipse 1.png" alt="User Photo">
                    <p>4.5</p>
                </div>
                <div class="review">
                    <h4>Iqbal Shafiq Rozaan</h4>
                    <p>{{ review | truncateText:100 }}</p>
                </div>
            </div>
        </div>

        <div class="cast-container" *ngIf="activeTab === 'cast'">
            <div class="cast-member" *ngFor="let member of cast">
                <img class="actor-photo" [src]="member.photoUrl" alt="Actor Photo">
                <p class="actor-name">{{ member.name }}</p>
            </div>
        </div>

        <div class="rating-container" *ngIf="isRatingPage">
        
            

        </div>

</div>