* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    color: #ffffff;
    font-weight: 100;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    user-select: none;
    display: flex;
    justify-content: center;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    max-height: 850px;
    height: 100%;
    background: #242a32;
    padding: 15px;
    padding-top: 3vw;
}


::-webkit-scrollbar {
    display: none; /* Hide the swipe line on the side */
}

@media only screen and (max-width: 450px) {
    .container {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100vh;
    }
}

.search-container {
    margin: 15px;
    margin-bottom: 25px;
    margin-left: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #3a3f47;
    border-radius: 15px;
}

.search-input {
    padding: 15px;
    border: none;
    font-size: 18px;
    width: 360px;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
    /* Remove outline on focus */
}

.search-input:focus+.search-icon {
    display: none;
    /* Hide the search icon when input is focused */
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) scaleX(-1);
    font-size: 25px;
    color: #67686d;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items:last baseline;
    gap: 35%;
    margin-top: 0;
    padding: 25px;
}

.header > :first-child {
    cursor: pointer;
}

.header > i:hover {
    color: #ffffffa8;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav-item {
    padding: 2%;
    cursor: pointer;
    white-space: nowrap;
    /* Set text color to white */
}

.search-body {
    height: auto;
    max-height: 75%;
    overflow-y: auto;
    padding-bottom: 150px;
}

.movie-card {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.movie-card img {
    width: 120px;
    height: auto;
    max-height: 170px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.movie-card img:hover {
    opacity: 0.9;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    /* Light shadow */
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-details h2 {
    padding-bottom: 15%;
    cursor: pointer;
}

.detail {
    display: flex;
    gap: 10px;
}

.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 18px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

.no-results p {
    color: #92929D;
}
