* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    color: #ffffff;
    font-weight: 100;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    user-select: none;
    display: flex;
    justify-content: center;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    max-height: 850px;
    height: 100%;
    background: #242a32;
    padding: 15px;
    padding-top: 3.5vw;
}


::-webkit-scrollbar {
    display: none; /* Hide the swipe line on the side */
}

@media only screen and (max-width: 450px) {
    .container {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 100vh;
    }
}

.search-container {
    margin: 15px;
    margin-bottom: 25px;
    margin-left: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #3a3f47;
    border-radius: 15px;
}

.search-input {
    padding: 15px;
    border: none;
    font-size: 18px;
    width: 200px;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
    /* Remove outline on focus */
}

.search-input:focus+.search-icon {
    display: none;
    /* Hide the search icon when input is focused */
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) scaleX(-1);
    font-size: 25px;
    color: #67686d;
    padding: 8px;
}

